<% include includes/header.ejs %>
<br>
    <div class="container">
        <form method="POST" action="/Add">
            <table class="table table-striped">
                    <tr class="bg-dark text-light">
                        <td>Item Name </td>
                        <td>Quantity </td>
                        <td>Amount </td>
                    </tr>
                    <tr>
                            <td><input class="form-control" type="text" name = "name" required> </td>
                            <td><input class="form-control" type="text" name = "qty" required></td>
                            <td><input class="form-control" type="text" name = "amount" required></td>
                    </tr>
                </table>
                <input class="btn btn-success float-right" type="submit" value="Add Item">
        </form>
    </div>
    </body>
</html>