<html>
    <head>

    </head>
    <body>
        <form method="POST" action="/Add">
            <table>
                <tr>
                    <td>name: </td>
                    <td><input type="text" name = name ></td>
                </tr>
                <tr>
                <td>qty: </td>
                        <td><input type="text" name = qty ></td>
                </tr>
                <tr>
                <td>amount: </td>
                            <td><input type="text" name = amount ></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>