<% include includes/header.ejs %>
    <br>
    <div class="container">
        <form method="POST" action="/Edit/<%= item.id %>?_method=PUT" >
            <table class="table table-striped">
                <tr class="bg-dark text-light">
                    <td>Item Name </td>
                    <td>Quantity </td>
                    <td>Amount </td>
                </tr>
                <tr>
                        <td><input class="form-control" type="text" name = "name" value="<%= item.name %>" required> </td>
                        <td><input class="form-control" type="text" name = "qty" value = "<%= item.qty %>" required></td>
                        <td><input class="form-control" type="text" name = "amount" value = "<%= item.amount %>" required></td>
                </tr>
            </table>
            <input class="btn btn-success float-right" type="submit" value="Edit Item">
        </form>
    </div>
    </body>
</html>